<nav class="mobile-tabs" aria-label="Bottom Tabs">
  <a class="mobile-tab" href="/" data-tab="home">
    <span class="tab-ico">🏠</span>
    <span>Home</span>
  </a>

  <a class="mobile-tab" href="/static/spending.html" data-tab="spending">
    <span class="tab-ico">💸</span>
    <span>Spending</span>
  </a>

  <a class="mobile-tab" href="/static/all-transactions.html" data-tab="all">
    <span class="tab-ico">🔎</span>
    <span>All</span>
  </a>

  <a class="mobile-tab" href="/static/recurring.html" data-tab="recurring">
    <span class="tab-ico">🔁</span>
    <span>Recurring</span>
  </a>
</nav>
